<!DOCTYPE html>
<html>
<head>
	<title>Book a job</title>
</head>
<style>
  table, th, td {
  border: 1px solid black;
}
</style>
<body>
	<a href="{{url_for('logoutpilot')}}">Logout</a>
	<br><br><br>

	<form method="POST" action='#'>
		 
		<table>
			<tr>
				<th>Flight Number</th>
				<th>Departure Airport</th>
				<th>Arrival Airport</th>
				<th>Select Flight</th>
			</tr>
			{% for i in range(length) %}
				<tr>
					{% for j in options[i] %}
						<td>{{j}}</td>
					{% endfor %}
					<td><input type="radio" name="i" value={{i}}></td>
				</tr>
			{% endfor %} 
		</table>
		<br><br>
		<input type="submit" name="submit" value="BOOK JOB">
	</form>
		<br><br>
		<a href="{{url_for('pilot')}}">BACK</a>
</body>
</html>