<!DOCTYPE html>
<html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>




<head>
	<title>Booking confirmation</title>
</head>
<style>
	.tickets{
  margin: 25px;
  width: 300px;
  border: 15px rgb(17, 103, 242);
  padding: 70px;

	}
</style>
<body>
	<div class='tickets' id="ticket_info" hidden>
     <h1>Flight Number: {{flight_num}}</h1><br>
     <h1>Departure Airport: {{depart}}</h1><br>
     <h1>Arrival Airport: {{arr}}</h1><br>
     <h1>Customer ID: {{c_id}}</h1><br>
	</div>
	<a href="{{url_for('logout')}}">Logout</a>
	<br><br><br><br>
	<H1>Booking Done!</H1>
	<h2>Customer ID: {{session['customer_id']}}</h2>
	<br><br><br><br>
	<div id="editor"></div><br><br>
	<button id="cmd">Print ticket</button><br><br>
	<a href="{{url_for('user')}}">Back to home</a>
</body>


<script type="text/javascript">
	var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#ticket_info').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('ticket.pdf');
});

</script>
</html>