<!DOCTYPE html>
<html>
<head>
	<title>Delete flight</title>
</head>
<style>
	 table, th, td {
  border: 1px solid black;
}
</style>
<body>
	<table>
			<tr>
				<th>Flight Number</th>
				<th>Departure Airport</th>
				<th>Arrival Airport</th>
				<th>Select Flight</th>
			</tr>
			{% for i in range(length) %}
				<tr>
					{% for j in options[i] %}
						<td>{{j}}</td>
					{% endfor %}
				</tr>
			{% endfor %} 
		</table>
		<br><br>
		<label>Select flight number to delete: </label>
		<form method="POST" action='#'>
			<input type="text" name="flight_num">
		</form>
		<a href="{{url_for('admin')}}">BACK</a>
</body>
</html>