<!DOCTYPE html>
<html>
<head>
	<title>Welcome {{session['customer_name']}}</title>
</head>
<style>
	.buttons1{
		border-radius: 2px;
		background-color: rgb(191, 202, 219);
		position: absolute;
		width: 300px;
		top: 200px;
		left: 300px;
		padding: 50px;
		margin: auto
	}

	.buttons2{
		border-radius: 2px;
		background-color: rgb(191, 202, 219);
		position: absolute;
		width: 300px;
		top: 200px;
		left: 800px;
		padding: 50px;
		margin: auto
	}	
	.cus{
		text-align: center
	}
</style>
<body>
	<h1 class="cus">CUSTOMER HOMEPAGE</h1>
	
		<a href="{{url_for('book_flight')}}"><button class="buttons1">Book a new trip</button></a>
		<br><br><br>
		<a href="{{url_for('trip')}}"><button class="buttons2">My Trips</button></a>

	<a href="{{url_for('logout')}}">Logout</a>
</body>
</html>