<!DOCTYPE html>
<html>
<head>
	<title>PILOT LOGIN</title>
</head>
<style>
	.boxed2{
  background-color: rgb(132, 154, 224);
  position: absolute;
  width: 300px;
  top: 200px;
  right: 500px;
  padding: 50px;
  margin: auto;
}
</style>
<body>
	<div class="boxed2">
		<h1>Pilot Login</h1>
		<form action="#" method="POST">
			<input type="text" name="pilot_num" placeholder="Pilot Number">
			<input type="text" name="pilot_name" placeholder="Name"><br><br>
			<input type="submit" value="Sign In">
		</form>
		<a href="{{url_for('main_page')}}">BACK TO MAIN PAGE</a>
	</div>
</body>
</html>